.custom-radio {
  color: #333333;
  cursor: pointer;
  display: block;
  line-height: 24px;
  padding-left: 24px;  
  position: relative;
}

.custom-radio input[type=radio] {  
  clip: rect(0 0 0 0);  
  height: 1px;
  overflow: hidden;  
  position: absolute;
  width: 1px;
}

.custom-radio__indicator {
  background-color: #ffffff;
  border: 1px solid #6e6e6e;
  border-radius: 50%;
  display: block;
  height: 16px;  
  left: 0;
  position: absolute;
  top: 4px;  
  width: 16px;
}

.custom-radio__indicator::after {
  content: none;
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  height: 8px;
  width: 8px;

  background-color: #3b3b3b;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.custom-radio input[type=radio]:checked + .custom-radio__indicator::after {
  content: '';
}

.custom-radio input[type="radio"]:focus + .custom-radio__indicator {
  box-shadow: 0 0 5px 1px #3b99fc;
}