.question {
  flex-grow: 1;
}

.question__text {
  font-size: 22px;
  margin: 0 0 20px 0;
}

.question__number {
  background-color: #eee;
  border-radius: 5px;
  color: #666666;
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
  padding: 2px 10px 3px;
}

.question__answers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.question__answers-list li {
  margin: 0 0 10px;
}