.answers-list {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  list-style: none;
  margin: 30px 0;
  overflow: hidden;
  padding: 0;
}

.answers-list__item {
  padding: 10px 35px;
}

.answers-list__item:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.answers-list__item--correct {
  background-color: #d4edda;
}

.answers-list__item--wrong {
  background-color: #f8d7da;
}

.answers-list__item p {
  margin: 0;
}

.answers-list__question {
  font-size: 22px;
  margin-bottom: 10px;
}