.btn {
  background-color: #eeeeee;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: normal;
  word-wrap: normal;  
  padding: 0.5em 1em 0.55em;
  position: relative;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;  
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn--transparent {
  background-color: transparent;
}

.btn--transparent:hover {
  background-color: #f6f6f6;
}

.btn--green {
  background-color: #0bb976;
  border-color: #0bb976;
  color: #ffffff;
}

.btn--green:hover {
  background-color: #0dd98a;
  border-color: #0dd98a;
}

.btn:disabled {
  background-color: #eeeeee;
  border-color: #c4c4c4;
  color: #909090;
  cursor: default;
}